*{
	margin:0;
	padding:0;
	font-family:"Myriad Pro", Arial, "FZLanTingHei-R-GBK", 方正兰亭黑, "Microsoft YaHei", 微软雅黑, STHeiti, 华文黑体, SimSun, 宋体, sans-serif;
}
html,body{
	width:100%;
	height:100%;
}
#box{
	width:100%;
	height:auto;
	background:#ededed;
	overflow:hidden;
}
#header{
	background:#009B72;
	width:100%;
	overflow:hidden;
	background:#fff;
}
#header .container-fluid .row>div{
	text-align:center;
	line-height:30px;
	height:30px;
}
#header .container-fluid .row>div a{
	display:block;
	height:30px;
	width:66px;
    font-size:15px;
    color:#fff;
    text-decoration:none;
}
#header .container-fluid .row a:hover{
    background:#0d0;
}
#nav{
	width:100%;
	height:auto;
	background:#fff;
}
#nav .container-fluid .row>div{
	text-align:center;
	line-height:80px;
	height:80px;
	padding-right:1px;
}
#nav .container{
	padding:0;
}
#nav .container-fluid .row>div>a{
    font-size:15px;
    color:gray;
    padding-bottom:2px;
    text-decoration:none;
}  
#nav .container-fluid .row>div a:hover{
	color:#000;
	border-bottom:2px solid green;
}
#daohang{
	font-size:35px;
	color:green;
}
#dian{
	width:700px;
	height:40px;
	display:none;
	position:absolute;
	left:0px;
	top:80px;
	z-index:1000;
	background:rgba(255,255,255,0.8);
}
#dian ul li{
	float:left;
	width:70px;
	height:40px;
	line-height:40px;
	text-align:center;
}
#dian ul li a{
	font-size:18px;
	color:green;
	font-weight:500;
	padding-bottom:2px;
}
#dian ul li a:hover{
	text-decoration:none;
	border-bottom:2px solid green;
}
#right{
	width:100px;
	height:300px;
	position:absolute;
	right:0;
	top:70px;
	z-index:1000;
	background:rgba(255,255,255,0.8);
	display:none;
}
#right ul li{
	width:90px;
	height:50px;
	line-height:50px;
	text-align:center;
	margin-left:5px;
	border-bottom:1px solid gray;
}
#right ul li a{
	font-size:16px;
	color:green;
	font-weight:500;
	text-decoration:none;
}
#right ul li:hover{
	background:#ccc;
}
#main{
	width:100%;
	height:auto;
	background:#fff;
}
#main .container-fluid{
	padding:0;
}
#main .row #img1 img{
	width:100%;
	height:100%;
}
#main .row #img2 img{
	width:100%;
	height:400px;
}
#main>.container-fluid>.row{
	position:relative;
	margin-left:0 !important;
	margin-right:0 !important;
}
#shuru{
	position:absolute;
	z-index:100;
	top:50%;
	transform:translateY(-50%);
}
#dz{
	width:100%;
	height:auto;
	background:#fff;
}
#dz .row div{
	height:70px;
	padding:5px;
	margin-top:15px;
}
#dz .row>div:nth-child(2){
	line-height:60px;
	font-size:16px;
}
#dz .row>div:nth-child(3) select{
	height:60px;
	width:100%;
	font-size:16px;
}
#dz .row>div:nth-child(4) select{
	height:60px;
	width:100%;
	font-size:16px;
}
#dz .row>div:nth-child(5) select{
	height:60px;
	width:100%;
	font-size:16px;
}
#ditu{
	width:100%;
	height:auto;
	margin-top:30px;
	background:#ededed;
}
#ditu .row>div{
	height:400px;
    background:#fff;
    margin:20px 0;
    border-right:1px solid #ddd;
}
#ditu .row div .one{
	margin-top:10px;
	height:40px;
	line-height:40px;
	font-size:22px;
	font-weight:bolder;
}
#ditu .row div .two li{
    height:40px;
    line-height:40px;
    font-size:15px;
}
#ditu .row div .two li span:first-child{
	display:inline-block;
	width:30px;
	height:30px;
	background:#333;
	border-radius:50%;
	font-size:25px;
	color:#fff;
	line-height:32px;
	text-indent:0.06em;
	float:left;
}
#ditu .row div .two li span:last-child{
	display:inline-block;
    height:40px;
    line-height:35px;
    font-size:15px;
    float:left;
    margin-left:15px;
}
#ditu .row div .three{
	height:40px;
	line-height:40px;
	font-size:22px;
	font-weight:bolder;
}
#ditu .row div .four li{
    height:40px;
    line-height:40px;
    font-size:15px;
}
#ditu .row div .four li span:first-child{
	display:inline-block;
	width:30px;
	height:30px;
	background:#333;
	border-radius:50%;
	font-size:25px;
	color:#fff;
	line-height:32px;
	text-indent:0.06em;
	float:left;
}
#ditu .row div .four li span:last-child{
	display:inline-block;
    height:40px;
    line-height:35px;
    font-size:15px;
    float:left;
    margin-left:15px;
}
#ditu .row div #allmap{
	height:360px;
	width:100%;
	margin:20px 5px;
}
#shenzhen{
	width:87%;
	height:80px;
	margin:0 auto;
	line-height:80px;
	font-weight:bolder;
	font-size:25px;
}
#item{
	width:100%;
    height:auto;
    padding-top:30px;
    padding-bottom:30px;
    background:#ededed;
}
#item .container{
	background:#fff;
}
#item .container .row{
    padding:20px 0;
}
#item .row>div{
	max-height:100px;
	min-height:30px;
	border-right:1px solid #ddd;
}
#item .row div #left1{
	float:left;
	line-height:80px;
}
#item .row div #left1 img{
	width:50px;
	height:60px;
}
#item .row div #right1{
	float:left;
	margin-left:10px;
}
#item .row div #right1 p:first-child{
	height:30px;
	line-height:50px;
	font-size:15px;
	font-weight:bolder;
}
#item .row div #right1 p:last-child a{
	font-size:15px;
	color:green;
	text-decoration:none;
}
#item .row>#col{
	line-height:50px;
	font-size:16px;
	color:#393939;
}
#item .row>#col span{
	display:block;
	width:60px;
	height:20px;
}
#item .even .row{
	background:#f7f7f7;
}
#item .row{
	margin-left:0;
	margin-right:0;
}
#footer{
	width:100%;
	background:#f6f6f6;
	overflow:hidden;
}
#footer #row{
	margin-top:50px;
}
#footer #row>div{
	height:200px;
	
	border-bottom:1px solid gray;
} 
#footer #row #one dl dt{
	width:100%;
	height:50px;
	line-height:50px;
	font-size:16px;
}
#footer #row #one dl dd{
    width:100%;
    height:25px;
    line-height:25px;
}
#footer #row #one dl a{
	color:#000;
}
#footer #row #two dl dt{
	width:100%;
	height:50px;
	line-height:50px;
	font-size:16px;
}
#footer #row #two dl dd{
    width:100%;
    height:25px;
    line-height:25px;
}
#footer #row #two dl a{
	color:#000;
}
#footer #row #three dl dt{
	width:100%;
	height:50px;
	line-height:50px;
	font-size:16px;
}
#footer #row #three dl dd{
    width:100%;
    height:25px;
    line-height:25px;
}
#footer #row #three dl a{
	color:#000;
}
#footer #row #four dl dt{
	width:100%;
	height:50px;
	line-height:50px;
	font-size:16px;
}
#footer #row #four dl dd{
    width:100%;
    height:25px;
    line-height:25px;
}
#footer #row #four dl a{
	color:#000;
}
#row>#five .row div:first-child{
	margin-top:20px;
	text-align:right;
}
#row>#five .row div:last-child{
	height:50px;
	margin-top:20px;
}
#row>#five .row div:last-child .top{
	font-size:30px;
	display:block;
	text-align:right;
}
#row>#five .row div:last-child .bottom{
	font-size:15px;
	display:block;
	text-align:right;
}
#wei{
	width:100%;
	height:50px;
}












@media all and (max-width:990px){
	#nav{
		position:absolute;
		left:0;
		top:0;
		background:rgba(255,255,255,0.7);
		z-index:999;
	}
	#daohang,#tubiao{
	    color:green;
	    font-size:20px;
	}
}
@media all and (max-width:770px) and (min-width:320px){
	#item .container{
	    padding-left:0px !important;
	    padding-right:0px !important;
        height:190px;
	}
	#item .container .row{
		padding-left:0 !important;
	}
	#item .row>#da{
		height:60px;
		border-right:none;
		width:100%;
		padding-left:0px;
	}
	#item .row #da #left1{
		float:left;
		line-height:40px;
	}
	#item .row #da #left1 img{
		width:50px;
		height:60px;
	}
	#item .row #da #right1{
		float:left;
		margin-left:10px;
	}
	#item .row #da #right1 p:first-child{
		height:30px;
		line-height:50px;
		font-size:17px;
		font-weight:550;
		margin-right:10px;
		margin-left:-15px;
		float:left;
	}
	#item .row #da #right1 p:last-child{
		position:absolute;
		right:0;
	}
	#item .row #da #right1 p:last-child a{
		font-size:15px;
		color:green;
		text-decoration:none;
		line-height:50px;
	}
	#item .row>#col{
		line-height:25px;
		font-size:17px;
		color:#393939;
		margin-left:30px;
	}
	#item .even .row{
		background:#f7f7f7;
	}
	#item .row{
		margin-left:0;
		margin-right:0;
	}
	#dz .row{
		height:300px;
	}
	#dz .row div{
		height:50px;
		padding:5px;
		margin-top:15px;
	}
	#dz .row>div:nth-child(2){
		line-height:60px;
		font-size:16px;
	}
	#dz .row>div:nth-child(3) select{
		height:60px;
		width:100%;
		font-size:16px;
	}
	#dz .row>div:nth-child(4) select{
		height:60px;
		width:100%;
		font-size:16px;
	}
	#dz .row>div:nth-child(5) select{
		height:60px;
		width:100%;
		font-size:16px;
	}
    #footer .container{
    	padding-left:0 !important;
    }
	#row>#five .row div:first-child{
		margin-top:20px;
		text-align:right;
	}
	#row>#five .row div:last-child{
		height:50px;
		margin-top:20px;
	}
	#row>#five .row div:last-child .top{
		font-size:20px;
		display:block;
		text-align:right;
	}
	#row>#five .row div:last-child .bottom{
		font-size:10px;
		display:block;
		text-align:right;
	}
}
